<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <title>youtube.badfirmware.com</title>
    <link rel="icon" 
      type="image/ico" 
      href=<%= config.serverURL + "/favicon.ico" %>>
      <meta name="viewport" content="width=device-width, initial-scale=1" /> 
</head>

<body style="background-color:rgb(38, 38, 38);">
    <input type="hidden" id="serverURL" value=<%= config.serverURL %>>
    <input type="hidden" id="placeholderURL" value=<%= config.placeholderURL %>>

    <h1 class="heading">badfirmware.com Youtube Video Downloader</h1>
    <input class="URL-input" placeholder=<%= config.placeholderURL %>><button class="convert-button" id="mp4">Convert mp4</button><button class="convert-button" id='mp3'>Convert mp3</button>
    <script src='script.js'></script>

    <p class="message"><%= config.message %></p>
</body>

</html>
